.navbar {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar li{
    display: inline;
    padding: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

a.red {
    color: black;
}

.banner {
    background-color: blueviolet;
    color: white;
    margin-top: 50px;
    text-align: center;
    padding: 100px 0;
}

#small-bigal {
    height: 100px;
}

#social {
    color: rgb(85, 83, 201);
    font-size: 50px;
}

.social-section {
    padding: 20px 50px;
} */

 .bold {
    font-weight: 900;
}

#greets ul{
    list-style-type: none;
} */

/* .avatar{
    background-image: url('../images/bigal2.png');
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
} */